.icon{
	width:100px;
}

body{
	font-family: avenir;
	color: black !important;

}

.author{
	margin-top:10px; 
	margin-bottom:30px !important; 
	font-size: 14px;
	color: black;
	text-decoration: none;

}
.author:hover{
	margin-top:10px; 
	margin-bottom:30px !important; 
	font-size: 14px;
	color: black;
	text-decoration: none !important;
}

.pageTitle{
		color: black !important;
	text-align: center;
	margin-bottom: 10px;


}

#fullImg{
width: 100%;
}

#homeImage{
	max-width:100% !important;
max-height:100%!important;
}