<div class="main">
  <div class="container">


    <div class="row">
      <div class="item col-xs-6 .col-md-6" ng-repeat="photo in photos">
        <a href="#/photos/{{$index}}">
          <img class="img-responsive" ng-src="{{ photo.url }}">
          <h4 class="author"> {{ photo.title }}</h4>
        </a>
      </div>
    </div>


  </div>
</div>

