

<div class="item col-xs-12 .col-md-12" id="homeImage" >
<img id="homeImage" src="file:///Users/user/Desktop/ang/img/home/home1.png"><br></br>
<img id="homeImage" src="file:///Users/user/Desktop/ang/img/home/home2.png"><br></br>
<img id="homeImage" src="file:///Users/user/Desktop/ang/img/home/home3.png"><br></br>
<a href="#/">
<img id="homeImage" src="file:///Users/user/Desktop/ang/img/home/home4.png"><br></br>
</a>
</div>

