 <div class="item col-xs-12 .col-md-12">

<div class="photo">
  <div class="container">
    <img id="fullImg" ng-src="{{ detail.url }}">

    <h3 class="photo-title">{{detail.title}}</h3>
    <p class="photo-author"> {{detail.theme}} </p>
    <p class="photo-views"> {{detail.technique}} </p>
    <p class="photo-upvotes"> {{detail.dimensions}} </p>
    <p class="photo-pubdate"> {{detail.edition}} </p>
    <p class="photo-pubdate"> {{detail.id}} </p>
 	</div>
</div>

 <button type="button" class="btn btn-default">BUY</button>


</div>
